/* $
	Jqui theme (jqui.css), Haus theme option (haus.css)
	for Tiki Wiki CMS/Groupware.
	Thanks to dalhaus.co.uk
	Visit http://themes.tiki.org for more information.
	(This file was edited directly, not produced by the Less pre-compiler; there's no haus.less, yet.)
*/

#col2 a,
#col2 a:visited,
#col3 a,
#col3 a:visited {
	color: #666;
}
 
#col2 a:active,
#col2 a:hover,
#col3 a:active,
#col3 a:hover {
	color: #888;
}

a,
a:visited,
.popover button.btn-link.link-list,
.popover button.btn-link.link-list:visited,
.dropdown-item button.btn-link.link-list,
.dropdown-item button.btn-link.link-list:visited {
	color: #666;
}

a:active,
a:hover,
.popover button.btn-link.link-list:active,
.popover button.btn-link.link-list:hover,
.dropdown-item button.btn-link.link-list:active,
.dropdown-item button.btn-link.link-list:hover {
	color: #aaa;
}

#col1 {
	color: #999;
	font-size: 120%;
}

#top a, #top a:visited {
	color: #666;
}
 
#top a:active, #top a:hover {
	color: #aaa;
}

h1,h2,h3,h4,h5,h6, #top .pagetitle a {
	color: #aaa;
}

#top .pagetitle a {
	color: #888;
}

#top_modules .box-login_box {
	bottom: -6px;
}

.btn-primary,
button,
input[type="reset"],
input[type="submit"],
.button input {
    border: 1px solid #777;
    font-weight: bold;
    color: #555555;
}

.cssmenu_horiz ul li button.btn-link.link-list,
.cssmenu_vert ul li button.btn-link.link-list {
	font-weight: normal;
	border: none;
}

.btn-primary:hover,
.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
    border: 1px solid #666;
    font-weight: bold;
    color: #212121;
	background-color: #ea6;
}

.btn-primary {
  color: #212121;
  background-color: #eee;
  border-color: #666;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
	border-color: transparent;
	color: #212121;
}

.navbar-light .navbar-nav > li > a,
.navbar-dark .navbar-nav > li > a,
.topbar > a,
.topbar .navbar-light .navbar-nav > li > a,
.topbar .navbar-dark .navbar-nav > li > a,
.topbar .nav > li > a {
  color: #666;
}

.topbar .bg-light,
.topbar .bg-dark { background: transparent !important; }
